<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    /***ISV_PDF_STYLE***/
  </style>
</head>

<body>
  <div data-v-35736a9c="" id="detectionReport" class="report-pdf">
    <main data-v-35736a9c="" class="mainPage">
      <header data-v-35736a9c="" class="headerPage">
        <img data-v-35736a9c="" src="img/pic_report_logo.26c5a2a1.png" alt="logo" class="logo">
        <div class="pageNum">
          <span class="nowPage" style="color: #0077d7;">1 </span>/<span class="allPage">
            <%=pageNum%>
          </span>
        </div>
      </header>
      <div data-v-35736a9c="" id="reportTitleCn" class="reportTitle">检测报告</div>
      <table data-v-35736a9c="" class="table1" style="margin-bottom: 17px;">
        <tr data-v-35736a9c="">
          <td data-v-35736a9c="" class="itemName">时间</td>
          <td data-v-35736a9c="" id="time" class="itemContent">{{Time}}</td>
          <td data-v-35736a9c="" class="itemName">车型</td>
          <td data-v-35736a9c="" id="product" class="itemContent">{{Plan}}</td>
        </tr>
        <tr data-v-35736a9c="">
          <td data-v-35736a9c="" class="itemName">检测站</td>
          <td data-v-35736a9c="" id="station" class="itemContent">{{Station}}</td>
          <td data-v-35736a9c="" class="itemName">颜色</td>
          <td data-v-35736a9c="" id="color" class="itemContent">{{Color}}</td>
        </tr>
        <tr data-v-35736a9c="">
          <td data-v-35736a9c="" class="itemName">产品ID</td>
          <td data-v-35736a9c="" id="VIN" class="itemContent">{{Vin}}</td>
          <td data-v-35736a9c="" class="itemName">喷涂次数</td>
          <td data-v-35736a9c="" class="itemContent">1</td>
        </tr>
      </table>
      <div data-v-35736a9c="" id="mainImgWrapper" class="mainImage">
        <div data-v-35736a9c="">
          <div data-v-35736a9c="" id="leftImg4" class="container-left leftImg4"><img data-v-35736a9c=""
              src="isv/v1/file/{{Butterflies['1'].Path}}" alt="Left">
            <div data-v-35736a9c="">
              {{each points.leftPoints}}
              <div data-v-35736a9c="" class="points" style="top: {{$value.style.top}}; left: {{$value.style.left}};">
                <span data-v-35736a9c="" class="defect-point"
                  style="background-color: {{$value.style.backgroundColor}};"></span><span
                  data-v-35736a9c="">{{$value.ID + 1}}</span>
              </div>
              {{/each}}
            </div>
          </div>
          <div data-v-35736a9c="" id="topImg4" class="container-top topImg4"><img data-v-35736a9c=""
              src="isv/v1/file/{{Butterflies['0'].Path}}" alt="Top">
            <div data-v-35736a9c="">
              {{each points.topPoints}}
              <div data-v-35736a9c="" class="points" style="top: {{$value.style.top}}; left: {{$value.style.left}};">
                <span data-v-35736a9c="" class="defect-point"
                  style="background-color: {{$value.style.backgroundColor}};"></span><span
                  data-v-35736a9c="">{{$value.ID + 1}}</span>
              </div>
              {{/each}}
            </div>
          </div>
          <div data-v-35736a9c="" id="rightImg4" class="container-right rightImg4"><img data-v-35736a9c=""
              src="isv/v1/file/{{Butterflies['2'].Path}}" alt="Right">
            <div data-v-35736a9c="">
              {{each points.rightPoints}}
              <div data-v-35736a9c="" class="points" style="top: {{$value.style.top}}; left: {{$value.style.left}};">
                <span data-v-35736a9c="" class="defect-point"
                  style="background-color: {{$value.style.backgroundColor}};"></span><span
                  data-v-35736a9c="">{{$value.ID + 1}}</span>
              </div>
              {{/each}}
            </div>
          </div>
          <div data-v-35736a9c="" id="rearImg4" class="container-back rearImg4"><img data-v-35736a9c=""
              src="isv/v1/file/{{Butterflies['3'].Path}}" alt="Rear">
            <div data-v-35736a9c="">
              {{each points.rearPoints}}
              <div data-v-35736a9c="" class="points" style="top: {{$value.style.top}}; left: {{$value.style.left}};">
                <span data-v-35736a9c="" class="defect-point"
                  style="background-color: {{$value.style.backgroundColor}};"></span><span
                  data-v-35736a9c="">{{$value.ID + 1}}</span>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <table data-v-35736a9c="" class="table2" style="margin-bottom: 0; margin-top: 17px;">
        <tr data-v-35736a9c="">
          <td data-v-35736a9c="" class="itemName2 itemPart2">缺陷总数</td>
          <td data-v-35736a9c="" colspan="3" id="defects" class="itemContent">{{TotalDefects}}</td>
        </tr>
        <tr data-v-35736a9c="">
          <td data-v-35736a9c="" colspan="4" class="itemName itemPart2 itemComponent">部件</td>
        </tr>
        {{each Parts}}
        {{if $index % 2 === 0}}
        <tr data-v-35736a9c="">
          <td data-v-35736a9c="" class="itemName2 itemPart2">{{Parts[$index].Name}}</td>
          <td data-v-35736a9c="" class="itemContent">{{Parts[$index].Defects}}</td>
          {{if $index + 2 <= Parts.length}} <td data-v-35736a9c="" class="itemName2">{{Parts[$index + 1].Name}}</td>
            <td data-v-35736a9c="" class="itemContent">{{Parts[$index + 1].Defects}}</td>
            {{else}}
            <td data-v-35736a9c="" class="itemName2"></td>
            <td data-v-35736a9c="" class="itemContent"></td>
            {{/if}}
        </tr>
        {{/if}}
        {{/each}}
        <% for(var i=Parts.length + 1 ; i < 16 ; i +=2) { %>
          <tr data-v-35736a9c="">
            <td data-v-35736a9c="" class="itemName2 itemPart2"></td>
            <td data-v-35736a9c="" class="itemContent"></td>
            <td data-v-35736a9c="" class="itemName2"></td>
            <td data-v-35736a9c="" class="itemContent"></td>
          </tr>
          <% } %>
      </table>
    </main>
  </div>
  <div data-v-35736a9c="" id="detectionReport" class="report-pdf" style="margin-top: 30px;">
    <main data-v-35736a9c="" class="mainPage">
      <header data-v-35736a9c="" class="headerPage">
        <img data-v-35736a9c="" src="img/pic_report_logo.26c5a2a1.png" alt="logo" class="logo">
        <div class="pageNum">
          <span class="nowPage" style="color: #0077d7;">2 </span>/<span class="allPage">
            <%=pageNum%>
          </span>
        </div>
      </header>
      <div data-v-35736a9c="" id="reportTitleCn" class="reportTitle">检测报告</div>
      <table data-v-35736a9c="" class="tableAbove">
        <tr data-v-35736a9c="">
          <td data-v-35736a9c="" colspan="4" class="itemName itemComponent">区域</td>
        </tr>
        <div data-v-35736a9c="">
          {{each Zones}}
          {{if $index % 2 === 0}}
          <tr data-v-35736a9c="">
            <td data-v-35736a9c="" class="itemName2">{{Zones[$index].Name}}</td>
            <td data-v-35736a9c="" class="itemContent">{{Zones[$index].Defects}}</td>
            {{if $index + 2 <= Zones.length}} <td data-v-35736a9c="" class="itemName2">{{Zones[$index + 1].Name}}</td>
              <td data-v-35736a9c="" class="itemContent">{{Zones[$index + 1].Defects}}</td>
              {{else}}
              <td data-v-35736a9c="" class="itemName2"></td>
              <td data-v-35736a9c="" class="itemContent"></td>
              {{/if}}
          </tr>
          {{/if}}
          {{/each}}
        </div>
      </table>
      <table data-v-35736a9c="" class="tableAbove" style="margin-top: 27px;">
        <tr data-v-35736a9c="">
          <td data-v-35736a9c="" colspan="4" class="itemName itemComponent">等级</td>
        </tr>
        <div data-v-35736a9c="">
          {{each Levels}}
          {{if $index % 2 === 0}}
          <tr data-v-35736a9c="">
            <td data-v-35736a9c="" class="itemName2">{{Levels[$index].Name}}</td>
            <td data-v-35736a9c="" class="itemContent">{{Levels[$index].Defects}}</td>
            {{if $index + 2 <= Levels.length}} <td data-v-35736a9c="" class="itemName2">{{Levels[$index + 1].Name}}</td>
              <td data-v-35736a9c="" class="itemContent">{{Levels[$index + 1].Defects}}</td>
              {{else}}
              <td data-v-35736a9c="" class="itemName2"></td>
              <td data-v-35736a9c="" class="itemContent"></td>
              {{/if}}
          </tr>
          {{/if}}
          {{/each}}
        </div>
      </table>
      <div data-v-35736a9c="" id="defectsDetailsTablePage2" class="tableBelowWrapper" style="margin-top: 27px;">
        <div data-v-35736a9c="" class="tableBelow">
          <div data-v-35736a9c="" class="tableTitle zh-id">ID</div>
          <div data-v-35736a9c="" class="reflectance tableTitle">2D</div>
          <div data-v-35736a9c="" class="shape tableTitle">3D</div>
          <div data-v-35736a9c="" class="tableTitle1 type-zh">类型</div>
          <div data-v-35736a9c="" class="position tableTitle">位置(mm)</div>
          <div data-v-35736a9c="" class="tableTitle size-zh">尺寸(mm)</div>
          <div data-v-35736a9c="" class="zone tableTitle1">区域</div>
          <div data-v-35736a9c="" class="part tableTitle1">部件</div>
          <div data-v-35736a9c="" class="rating tableTitle1">等级</div>
        </div>
        <div data-v-35736a9c="">
          {{each Pictures}}
          {{if $index < 7}} <div data-v-35736a9c="" class="defectDetailsItem">
            <div data-v-35736a9c="" class="tableItem zh-id">{{$index + 1}}</div>
            <div data-v-35736a9c="" class="reflectance tableItem"><img data-v-35736a9c=""
                src="isv/v1/file/{{$value.Reflectance}}" alt="" class="picture"></div>
            <div data-v-35736a9c="" class="shape tableItem"><img data-v-35736a9c="" src="isv/v1/file/{{$value.Shape}}"
                alt="" class="picture"></div>
            <div data-v-35736a9c="" class="type-wrap type-zh">{{$value.Type}}</div>
            <div data-v-35736a9c="" class="position tableItem">
              <div data-v-35736a9c="" class="positionItem positionItemFirst">X:{{$value.X}}</div>
              <div data-v-35736a9c="" class="positionItem">Y:{{$value.Y}}</div>
              <div data-v-35736a9c="" class="positionItem">Z:{{$value.Z}}</div>
            </div>
            <div data-v-35736a9c="" class="tableItem size-zh">
              <div data-v-35736a9c="" class="sizeItem sizeItemFirst">L:{{$value.Length}}</div>
              <div data-v-35736a9c="" class="sizeItem">W:{{$value.Width}}</div>
              <div data-v-35736a9c="" class="sizeItem">A:{{$value.Area}}</div>
            </div>
            <div data-v-35736a9c="" class="zone tableItem">{{$value.Zone}}</div>
            <div data-v-35736a9c="" class="part tableItemMore">
              <div data-v-35736a9c="" class="partInnerText">{{$value.Part}}</div>
            </div>
            <div data-v-35736a9c="" class="rating tableItem">{{$value.Level}}</div>
        </div>
        {{/if}}
        {{/each}}
      </div>
  </div>
  </main>
  </div>

  <% for(var i=7 ; i < Pictures.length; i++) { %>
    <% if ((i - 7) % 11===0) { %>
      <div data-v-35736a9c="" id="detectionReport" class="report-pdf" style="margin-top: 30px;">
        <main data-v-35736a9c="" class="mainPage">
          <header data-v-35736a9c="" class="headerPage"><img data-v-35736a9c="" src="img/pic_report_logo.26c5a2a1.png"
              alt="logo" class="logo">
            <div class="pageNum">
              <span class="nowPage" style="color: #0077d7;">
                <%=3 + (i-7) / 11%>
              </span>/<span class="allPage">
                <%=pageNum%>
              </span>
            </div>
          </header>
          <div data-v-35736a9c="" id="reportTitleCn" class="reportTitle">检测报告</div>
          <div data-v-35736a9c="" id="defectsDetailsTablePage2" class="tableBelowWrapper">
            <div data-v-35736a9c="" class="tableBelow">
              <div data-v-35736a9c="" class="tableTitle zh-id">ID</div>
              <div data-v-35736a9c="" class="reflectance tableTitle">2D</div>
              <div data-v-35736a9c="" class="shape tableTitle">3D</div>
              <div data-v-35736a9c="" class="tableTitle1 type-zh">类型</div>
              <div data-v-35736a9c="" class="position tableTitle">位置(mm)</div>
              <div data-v-35736a9c="" class="tableTitle size-zh">尺寸(mm)</div>
              <div data-v-35736a9c="" class="zone tableTitle1">区域</div>
              <div data-v-35736a9c="" class="part tableTitle1">部件</div>
              <div data-v-35736a9c="" class="rating tableTitle1">等级</div>
            </div>
            <% for(var j=i; j < i + 11; j++) { %>
              <% if(j < Pictures.length) { %>
                <div data-v-35736a9c="">
                  <div data-v-35736a9c="" class="defectDetailsItem">
                    <div data-v-35736a9c="" class="tableItem zh-id">
                      <%=(j + 1)%>
                    </div>
                    <div data-v-35736a9c="" class="reflectance tableItem"><img data-v-35736a9c=""
                        src="isv/v1/file/<%=(Pictures[j].Reflectance)%>" alt="" class="picture"></div>
                    <div data-v-35736a9c="" class="shape tableItem"><img data-v-35736a9c=""
                        src="isv/v1/file/<%=(Pictures[j].Shape)%>" alt="" class="picture"></div>
                    <div data-v-35736a9c="" class="type-wrap type-zh">
                      <%=(Pictures[j].Type)%>
                    </div>
                    <div data-v-35736a9c="" class="position tableItem">
                      <div data-v-35736a9c="" class="positionItem positionItemFirst">X:<%=(Pictures[j].X)%>
                      </div>
                      <div data-v-35736a9c="" class="positionItem">Y:<%=(Pictures[j].Y)%>
                      </div>
                      <div data-v-35736a9c="" class="positionItem">Z:<%=(Pictures[j].Z)%>
                      </div>
                    </div>
                    <div data-v-35736a9c="" class="tableItem size-zh">
                      <div data-v-35736a9c="" class="sizeItem sizeItemFirst">L:<%=(Pictures[j].Length)%>
                      </div>
                      <div data-v-35736a9c="" class="sizeItem">W:<%=(Pictures[j].Width)%>
                      </div>
                      <div data-v-35736a9c="" class="sizeItem">A:<%=(Pictures[j].Area)%>
                      </div>
                    </div>
                    <div data-v-35736a9c="" class="zone tableItem">
                      <%=(Pictures[j].Zone)%>
                    </div>
                    <div data-v-35736a9c="" class="part tableItemMore">
                      <div data-v-35736a9c="" class="partInnerText">
                        <%=(Pictures[j].Part)%>
                      </div>
                    </div>
                    <div data-v-35736a9c="" class="rating tableItem">
                      <%=(Pictures[j].Level)%>
                    </div>
                  </div>
                </div>
                <% } %>
                  <% } %>
          </div>
        </main>
      </div>
      <% } %>
        <% } %>
</body>

</html>