body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Arial Negreta", "Arial Normal", Arial, sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.report {
    width: 1450px;
    margin: 10px auto;
    padding: 40px 50px;
    border: 1px solid #000;
}

.header {
    display: flex;
    width: 100%;
    height: 195px;
    padding: 7px 40px;
    border: 2px solid #000000;
    font-weight: 700;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 335px;
    height: 100%;
}

.logoImg {
    width: 100%;
    height: 55%;
}

.logoTip {
    font-size: 32px;
    margin: 10px 0;
    color: #333;
}

.info {
    width: 630px;
    height: 100%;
    margin: 0 50px;
}

.infoItem {
    display: flex;
    font-size: 25px;
    color: #333;
    line-height: 45px;
}

.name {
    width: 60%;
    text-align: left;
}

.pageNum {
    flex: 1;
    height: 100%;
    margin-top: 10px;
    font-size: 28px;
    text-align: right;
}

.chart {
    margin: 20px auto;
    width: 1280px;
}

.chart ~.chart {
    margin-top: 50px;
}

.chartTitle {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.chartBox {
    height: 370px;
    overflow: hidden;
}

.chartImg {
    width: 100%;
}
.chartTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.chartTable td {
    height: 28px;
    border: 1px solid rgb(51, 51, 51);
    font-size: 13px;
    text-align: center;
}